.Random__dice {
  width: 2.7em;
  cursor: pointer;
  transition: filter 0.5s linear;
}

.Random__dice:hover, .Random__diceLoading {
  filter: grayscale(50%);
}

.Random__spin {
  position: absolute;
  width: 2em;
  margin: .2em;
  padding-top: .3em;
  z-index: 10;
}

.ant-spin-dot-item {
  background-color: white;
}