.bass {
  border: 0px solid red;
}

.bass__img {
  position: relative;
  left: 0px;
  top: 3px;
  width: 30px;
  filter: contrast(160%);
  opacity: 0.75;
}
  
.grey {
  filter: grayscale(100%) opacity(50%);
}
  
.clickable {
  cursor: pointer;
}
  

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }
  