.Songbook__container {
    background-color: #924B55;
    min-height: calc(100vh - 50px); /* footer 50px */
    padding: 30px;
    filter: blur(0px) brightness(100%) grayscale(0%);
    transition: .1s filter ease-in, .1s -webkit-filter ease-in;
}

.Songbook__blury{
    filter: blur(7px) brightness(50%) grayscale(50%);
}