@font-face {
    font-family: 'Dymo';
    src: local('Dymo'), url(../.././fonts/Dymo.ttf) format('truetype');
  }

/* Small screens */
@media only screen and (max-width: 600px) {
    .menu__main {
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 70px;
      z-index: 1;
      background: rgba(110, 15, 28, .97);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .menu__extra {
        display: none;
    }

    .menu__element {
      width: 20%;
    }

    .menu__iconbass,
    .menu__iconpiano,
    .menu__iconguitar,
    .menu__bottomcheck,
    .menu__bottombookmark
    {
      cursor: pointer;
    }

    .menu__dymotagbass, .menu__dymobgbass, 
    .menu__dymotagpiano, .menu__dymobgpiano,
    .menu__dymotagguitar, .menu__dymobgguitar,
    .menu__sidecheck, .menu__sidebookmark
    {
      display: none;
    }
    
    .menu__check {
      font-size: 22px;
    }

  }
  
  /* Large screens */
@media only screen and (min-width: 600px) {
    .menu__main {
      position: fixed;
      top: 80px;
      z-index: 2;
    }

    .menu__extra {
        position: fixed;
        right: 0px;
        bottom: -20px;
        z-index: 2;
      }

    .menu__dymobgguitar{
        position: relative;
        top: -59px;
        background-color: #fff;
        width: 76px;
        height: 20px;
        box-shadow: 3px 3px 7px rgba(110, 15, 28, .5);
    }
    
    .menu__dymotagguitar{
        position: relative;
        top: -35px;
        text-align: left;
        font-family: 'Dymo', sans-serif;
        color: rgba(0,0,0,0.9);
        font-size: 30px;
        line-height: 1;
        z-index: 1;
        cursor: pointer;
    }
    
    .menu__dymobgpiano{
        position: relative;
        top: -83px;
        background-color: #fff;
        width: 76px;
        height: 20px;
        box-shadow: 3px 3px 7px rgba(110, 15, 28, .5);
    }
    
    .menu__dymotagpiano{
        position: relative;
        top: -59px;
        text-align: left;
        font-family: 'Dymo', sans-serif;
        color: rgba(0,0,0,0.9);
        font-size: 30px;
        line-height: 1;
        z-index: 1;
        cursor: pointer;
    }
    
    .menu__dymobgbass{
        position: relative;
        top: -106px;
        background-color: #fff;
        width: 76px;
        height: 20px;
        box-shadow: 3px 3px 7px rgba(110, 15, 28, .5);
    }
    
    .menu__dymotagbass{
        position: relative;
        top: -82px;
        text-align: left;
        font-family: 'Dymo', sans-serif;
        line-height: 1;
        font-size: 30px;
        z-index: 1;
        color: rgba(0,0,0,0.9);
        cursor: pointer;
    }
    
    .guitar__strike{
        position: absolute;
        top: -20px;
        margin-left: 4px;
        border-top: 1px solid rgba(255,255,255,0.75);
        border-bottom: 1px solid rgba(0,0,0,0.75);
        width: 68px;
        height: 2px;
        z-index: 2;
    }
    
    .bass__strike{
        position: absolute;
        top: 33px;
        margin-left: 21px;
        border-top: 1px solid rgba(255,255,255,0.75);
        border-bottom: 1px solid rgba(0,0,0,0.75);
        width: 50px;
        height: 2px;
        z-index: 2;
    }
    
    
    .piano__strike{
        position: absolute;
        top: 6px;
        margin-left: 15px;
        border-top: 1px solid rgba(255,255,255,0.75);
        border-bottom: 1px solid rgba(0,0,0,0.75);
        width: 56px;
        height: 2px;
        z-index: 2;
    }
    
    .menu__favorite{
        position: relative;
        right: 0px;
        top: -95px;
        text-align: right;
    }
    
    .menu__check {
        position: relative;
        top: -127px;
        right: -13px;
        width: 33px;
        font-size: 20px;
        opacity: 0.85;
    }

    .menu__iconbass,
    .menu__iconpiano,
    .menu__iconguitar,
    .menu__bottomcheck,
    .menu__bottombookmark
    {
      display: none;
    }

    .menu__dymobgadd{
        position: relative;
        top: -56px;
        right: -20px;
        background-color: #fff;
        width: 47px;
        height: 20px;
        box-shadow: 3px 3px 7px rgba(110, 15, 28, .5);
    }
    
    .menu__dymotagadd{
        position: relative;
        top: -32px;
        text-align: right;
        font-family: 'Dymo', sans-serif;
        color: rgba(0,0,0,0.9);
        font-size: 30px;
        line-height: 1;
        z-index: 1;
        cursor: pointer;
    }
    
    .menu__dymobglogin {
        position: relative;
        top: -77px;
        background-color: #fff;
        width: 64px;
        height: 20px;
        box-shadow: 3px 3px 7px rgba(110, 15, 28, .5);
    }
    
    .menu__dymotaglogin {
        position: relative;
        top: -53px;
        text-align: right;
        font-family: 'Dymo', sans-serif;
        color: rgba(0,0,0,0.9);
        font-size: 30px;
        line-height: 1;
        z-index: 1;
        cursor: pointer;
    }

    .menu__dymobglogout {
        position: relative;
        top: -77px;
        background-color: #fff;
        width: 78px;
        height: 20px;
        box-shadow: 3px 3px 7px rgba(110, 15, 28, .5);
    }
    
    .menu__dymotaglogout {
        position: relative;
        top: -53px;
        text-align: right;
        font-family: 'Dymo', sans-serif;
        color: rgba(0,0,0,0.9);
        font-size: 30px;
        line-height: 1;
        z-index: 1;
        cursor: pointer;
    }

    .menu__search {
        position: relative;
        bottom: 37px;
        right: -30px;
        width: 33px;
    }

  }
  

.green {
    color: green;
}

.red {
    color: #6E0F1C;
}

.black {
    color: rgba(0,0,0,.66);
}

.white {
    color: rgba(255,255,255,.33);
}

.neonwhite {
    color: rgba(255,255,255,1);
}

.inactive:hover {
    opacity: 0.5;
    filter: grayscale(0%);
}

.inactive {
    opacity: 0.33;
    filter: grayscale(50%);
}

.active {
    filter: brightness(0.75);
    opacity: 1 !important;
}
