.SearchButton__float {
	float: right;
	width: 2.7em;	
	height: 2.7em;
	margin-left: .1em; 
	margin-bottom: .8em;
	border: 1px solid transparent;
    color: rgba(255, 255, 255);
	border-radius:50px;
	z-index: 10;
	opacity: .75;
	cursor: pointer;
	background-color: rgba(255, 255, 255, .25);
    transition: background-color .2s linear, 
				width .2s linear,
				color .2s linear;
}

.SearchButton__float:hover {
	opacity: 1;
}

.SearchButton__open {
	width: 8em;	
    color: rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, 1);
}

.SearchButton__background:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	opacity: 1;
}

.SearchButton__icon {
	position: relative;
	font-size: 1.6em;
	top: 0.25em;
	filter: grayscale(100%);
}

.SearchButton__close {
	position: relative;
	font-size: 1.6em;
	top: 0.3em;
}

