/* @import url('http://fonts.cdnfonts.com/css/dymo'); */
@font-face {
  font-family: 'Dymo';
  src: local('Dymo'), url(../.././fonts/Dymo.ttf) format('truetype');
}

.Book__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px 0 50px;
}

.Book__resultInfos {
  font-size: 14px;
  display: absolute;
  margin: 20px 0px 24px 0px;
  font-weight: thin;
  color: #ccc;
}

.Book_resutltRamdomPick{
  cursor: pointer;
  color: #fff;
}

.Book_resutltRamdomPick:hover{
  color: rgba(255,255,255,.5);
  /*color:rgba(110, 15, 28, .33)*/
}

.Book__spinner {
  min-height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Book__nothingFound {
  min-height: calc(100vh - 150px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loader {
    height: 40vmin;
    pointer-events: none;
    border: 1px solid #333;
  }

  @media (prefers-reduced-motion: no-preference) {
    .loader {
      animation: App-logo-spin infinite 5s linear;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
    .nothingFound {      
      width: 75px;
      height: 75px;
      opacity: .1;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.error {
pointer-events: none;
border: 1px solid #333;
border-radius: 50%;
width: 100px;
height: 100px;
}

.error__icon {
position: absolute;
width: 100px;
height: 100px;
padding-top: 15px;
color: red;
font-size: 75px;
z-index: 1;
opacity: 0.5;
}

.randomPickModal .ant-modal-body, 
.randomPickModal .ant-modal-content {
  text-align: center;
  background-color: transparent !important;
}

.ant-modal-wrap {
  background-color: rgba(0,0,0,0.5) !important;
}

.ant-modal-content .Page__main {
  box-shadow: 0px 0px 150px pink;
}

.centered{
  width: 100%;
  padding: 10px -20px -10px -0px;
}

@media only screen and (max-width: 430px) {
  .ant-modal-body, .ant-modal-content {
    padding: 9px;
  }
} 