/* @import url('http://fonts.cdnfonts.com/css/dymo'); */
@font-face {
  font-family: 'Dymo';
  src: local('Dymo'), url(../.././fonts/Dymo.ttf) format('truetype');
}

.Book__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px 0 50px;
}

.Book__header {
  display: absolute;
  font-size: 1em;  
  margin-top: 2.7em;
  margin-bottom: 2em;
  font-weight: thin;
  color: rgba(255,255,255,.8);
  text-align: left;
}

.Book__centered {
  min-height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nothingFound {      
  width: 150px;
  height: 150px;
  opacity: .1;
}

.Book__nothingFound {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Book_resultRandomPick{
  cursor: pointer;
  color: #fff;
}

.Book_resultRandomPick:hover{
  color: rgba(255,255,255,.5);
}

.error {
pointer-events: none;
border-radius: 50%;
width: 100px;
height: 100px;
}

.error__icon {
position: absolute;
width: 100px;
height: 100px;
font-size: 100px;
color: #6E0F1C !important;
z-index: 1;
opacity: 0.75;
}

@media only screen and (max-width: 430px) {
  .ant-modal-body, .ant-modal-content {
    padding: 9px;
  }
} 

.Book__logo {
  color: #fff;
    font-weight: 500;
  letter-spacing: 1.7px;
}

.Book__logoHeader {
  height: 25px;
  margin-right: 3px;
  padding-bottom: 2px;
}

.Book__logoHeader:hover {
  filter: hue-rotate(90deg);
}