@font-face {
    font-family: 'Dymo';
    src: local('Dymo'), url(../../.././fonts/Dymo.ttf) format('truetype');
  }

.Page__main {
    width: 330px;
    height: 360px;
    margin: 0px 15px 30px 15px;
    font-size: 17px;
    transform-style: preserve-3d;
    text-transform: capitalize;
    padding: 15px 15px 15px 15px;
    border: 1px solid #555;
    box-shadow: 5px 5px 10px #6E0F1C;
}

.Page__halo {
    box-shadow: 0px 0px 50px white;
}

.Page__main__white {
    background-color: white;
}

.Page__main__transparent {
    background-color: rgba(255,255,255,.25);
}

.Page__notab {
    position: fixed;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.Page__opendrawer {
    cursor: pointer;
}

.Page__notab-text{
    position: relative;
    width: 300px;
    height: 300px;
    color: #fff;
    font-family: 'Dymo', sans-serif;
    font-size: 35px;
    z-index: 6;
    line-height: 0.8;
    display: table-cell;
    vertical-align: middle;
}

.Page__notabnotselected-textcolor{
    color: rgba(255,255,255,.33) !important;
}

.Page__notselected-background{
    position: absolute;
    top:0px;
    background-color: #6E0F1C;
    opacity: 0.5;
    z-index: 5;
}

.Page__notab-background{
    position: absolute;
    top:0px;
    background-color: #000;
    opacity: 0.20;
    z-index: 5;
}

.Page__artwork {
    height: 300px;
    width: 300px;
}

.Page__icons {
    position: fixed;
    z-index: 10;
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Page__actionicon {
    position: fixed;
    bottom: 10px;
    right: 12px;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.Page__drawer {
    opacity: 0.95;
}

.Page-drawer__artwork{
    width: 100%;
}

.Page-drawer__diviser{
    font-size: 12px;
    color: #999;
}

/*
.Page__title_alternative {
    background: black;
    color:white;
    display:inline;
    font-family: courier;
    padding:3px;
    line-height:2em;
    text-transform: uppercase;
} 
*/

.List__main {
    height: 50px;
    margin: 0px 15px 20px 15px;
    font-size: 17px;
    transform-style: preserve-3d;
    text-transform: capitalize;
    padding: 0px 15px 0px 15px;
    border: 1px solid #555;
    box-shadow: 5px 5px 10px #6E0F1C;
}