.Extras__radioType {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

.ant-radio-checked .ant-radio-inner{
    border-color: #924B55 !important ;
  }
  
.ant-radio-checked .ant-radio-inner:after{
    background-color: #924B55;
  }
  
.ant-radio:hover .ant-radio-inner {
    border-color: #924B55 ;
  }

.Extras__container {
    color: #999;
    font-size: 12px;
    text-transform: capitalize;
    display: inline-block;
}

.Extras__input {
    color: #999;
    font-size: 12px;
    border-style: dashed !important;
    border-color: #333 !important;
    margin-bottom: 5px !important;
}

.Extra__tag {
    margin: 3.5px 3px;
    margin-bottom: 5px !important;
  }

.Extra__ref {
      width: 40px;
      text-align: right;
      padding-right: 5px;
      display: inline-block;
  }