.Footer__Main {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: #6E0F1C;
    color: #ccc;
    text-align: center;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #D6BCBF;
  }