.Footer__Main {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: #924B55;
    color: #ccc;
    text-align: center;
    /*border-top: 1px solid #450911;
    box-shadow: 0px -1px 15px #6E0F1C;*/
  }

  a, a:visited, a:active {
    color: #fff !important;
  }

  a:hover {
    color: #D6BCBF !important;
  }