.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    vertical-align: middle; 
    padding: 0px 0px;
    width: 100%;
  }
  
.edit-tag {
    margin: 3.5px 3px;
    cursor: pointer !important;
    margin-bottom: 5px !important;
  }

.site-tag-plus {
    background: #333 !important;
    color: #fff !important;
    border-style: dashed !important;
    border-color: #333 !important;
    margin-bottom: 5px !important;
  }

.edit-tag {
    color: #333 !important;
    user-select: none !important;
    text-transform: capitalize !important;
  }
  
.input-tag {
  border-style: dashed !important;
  border-color: #333 !important;
  margin-bottom: 5px !important;
  font-size: 12px !important;
}
