/* @import url('http://fonts.cdnfonts.com/css/dymo'); */
@font-face {
    font-family: 'Dymo';
    src: local('Dymo'), url(../.././fonts/Dymo.ttf) format('truetype');
  }

.Page__main {
    width: 330px;
    height: 360px;
    background-color: white;
    margin: 0px 15px 30px 15px;
    font-size: 17px;
    transform-style: preserve-3d;
    text-transform: capitalize;
    padding: 15px 15px 15px 15px;
    border: 1px solid #555;
    box-shadow: 5px 5px 10px #6E0F1C;
}

.Page__title {
    font-family: 'Dymo', sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: left;
    font-size: 30px;
    color: black;
}

.Page__artwork {
    height: 300px;
    width: 300px;
}

.Page__actionicon {
    position: fixed;
    bottom: 10px;
    right: 12px;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.Page__drawer {
    opacity: 0.95;
}

.Page-drawer__artwork{
    width: 100%;
}

.Page-drawer__diviser{
    font-size: 12px;
    color: #999;
}


/*
.Page__title_alternative {
    background: black;
    color:white;
    display:inline;
    font-family: courier;
    padding:3px;
    line-height:2em;
    text-transform: uppercase;
} 
*/