@font-face {
    font-family: 'Dymo';
    src: local('Dymo'), url(../../../.././fonts/Dymo.ttf) format('truetype');
  }

.Page__title {
    font-family: 'Dymo', sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: left;
    font-size: 30px;
    color: black;
}

.title__input {
  position: fixed !important;
  bottom: 8px !important;
  left: 8px !important;
  font-family: 'Dymo', sans-serif !important;
  font-size: 30px !important;
  height: 30px;
  width: 275px;
}