.login__full {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;  
  width: 100vw;  
  z-index: 1;
} 

.login__container {
    text-align: center;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__form {
  width: 330px;
}

.login__full .login__form .login__formforgot {
  padding-right: 30px;
  float: right;
  color: rgba(255, 255, 255, .75) !important;
}

.login__formforgot:hover {
  text-decoration: underline;
}

.ant-col-rtl .login__formforgot {
  float: left;
}

.login__formbutton {
  width: 100%;
  font-weight: 500 !important;
}

.login__full a:link, .login__full a:visited {
  color: rgba(110, 15, 28, .75) !important;
}

.login__full a:hover {
  color: rgba(110, 15, 28, .75) !important;
}

.login__switchmode {
  padding-top: 15px;
  color: rgba(255, 255, 255, 1);
}

.login__switchmodetext {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  padding: 0 3px 2px 4px;
  font-weight: 600;
}

.login__switchmodetext:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, .75);
}

.login__remember {
  color: rgba(255, 255, 255, .75);
}

.ant-btn-primary {
  background: #6E0F1C !important;
  border-color: #6E0F1C !important;
}

.ant-btn-primary:hover {
  background:  rgba(110, 15, 28, .5) !important;
  border-color: rgba(110, 15, 28, .5) !important;
}

.ant-checkbox-checked, .ant-checkbox-inner {
  border-color: #6E0F1C !important;
  background: #6E0F1C !important;
  border-radius: 5px;
}

.login__logo {
  width: 120px;
  opacity: .25;
}

.login__header {
  position: relative;
  padding-bottom: 15px;
  justify-content: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  letter-spacing: 14px;
}