.ProfilButton__float {
	float: right;
	width: 2.7em;	
	height: 2.7em;
	margin-left: .1em; 
	margin-bottom: .8em;
	border: 1px solid transparent;
    color: rgba(255, 255, 255);
	border-radius:50px;
	z-index: 10;
	opacity: 1;
	cursor: pointer;
}

.ProfilButton__float:hover {
	opacity: .85;
}

.ProfilButton__background {
	background-color: rgba(255, 255, 255, .25);
}

.ProfilButton__background:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	opacity: 1;
}

.ProfilButton__icon {
	position: relative;
	font-size: 1.6em;
	top: 0.25em;
	filter: grayscale(100%);
}

.ProfilButton__close {
	position: relative;
	font-size: 1.6em;
	top: 0.3em;
}

