.welcome__leftPanel {
  width: 40vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-image: url("./../../img/clothes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome__rightPanel {
  width: 60vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

.welcome__alreadyMember {
  position: absolute;
  right: 1.5em;
  font-size: 14px;
}

.inlineBlock {
  display: inline-block;
}

@media (max-width: 800px) {
  .welcome__alreadyMember {
    width: 50vw;
    text-align: right;
  }
  .welcome__leftPanel {
    width: 0vw;
  }
  .welcome__rightPanel {
    width: 100vw;
    background-image: url("./../../img/clothes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .inlineBlock {
    display: block;
  }
}
