.SettingsButton__float {
	float: right;
	text-align: right;
	width: 2.7em;	
	height: 2.7em;
	margin-left: .1em; 
	margin-bottom: .8em;
	padding-right: .5em;
	padding-top: 0.22em;
	border: 1px solid transparent;
    color: rgba(255, 255, 255);
	border-radius:50px;
	z-index: 10;
	opacity: .75;
	cursor: pointer;
	background-color: rgba(255, 255, 255, .25);
    transition: background-color .2s linear, 
				color .2s linear,
				width .2s linear,
				opacity .2s linear,
				border .2s linear;
}

.SettingsButton__float:hover {
	opacity: 1;
}

.SettingsButton__open {
	width: 19em;	
    color: rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, .9);
	border: 1px solid rgba(110, 15, 28, .2);
	opacity: 1;
}

.SettingsButton__background:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	opacity: 1;
}

.SettingsButton__icon {
	position: relative;
	top: 0.15em;
	font-size: 1.6em;
	filter: grayscale(100%);
}

.SettingsButton__actionContainer {
	display: none;	
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.SettingsButton__action{
	display: inline-block !important;
	top: -10px;
	padding: 0 0.5em;
}
